<a href="https://colab.research.google.com/github/YoussefAli10/iris-analysis-group1/blob/main/iris_final_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create print statements
print('Hello, Iris by Youssef')

Hello, Iris by Youssef

In [ ]:
#Create print statements
print('Hello, Iris by Sibo')

Hello, Iris by Sibo

In [ ]:
#Create print statements
print('Hello, Iris by Wendy')

Hello, Iris by Wendy

In [ ]:
# Store basic dataset metadata
#Assign variables to store metadata
n_rows = 150
dataset_name = "Iris Dataset"

#Use formatted strings to print metadata
print(f"Dataset: {dataset_name}")
print(f"Number of rows: {n_rows}")

Dataset: Iris Dataset
Number of rows: 150

In [ ]:
# Example: check petal length threshold
#Use if and else statements to check length of petal length
petal_length = 1.7
if petal_length > 1.5:
    print("Large petal")
else:
    print("Small petal")

Large petal

In [ ]:
#Use def function to classify sepal_length and petal_length
#Use if/elif/else statements to check whether the lengths are small,medium,large
def classify_flower(sepal_length, petal_length):
    """
    Returns a label 'small'/'medium'/'large' based on petal_length.
    (Simple thresholds for demo; not a trained model.)
    """
    if petal_length < 1.5:
        return "small"
    elif petal_length < 4.5:
        return "medium"
    else:
        return "large"

# quick sanity checks
print(classify_flower(5.1, 1.4))  # small
print(classify_flower(6.0, 3.5))  # medium
print(classify_flower(6.3, 5.0))  # large

small
medium
large

In [ ]:
# Iterate through Iris species and print them
species = ["setosa", "versicolor", "virginica"]
#For loop iterates through each item in the species list
for s in species:
    print(s)

setosa
versicolor
virginica

In [ ]:
#Import panda library to process raw CSV file
import pandas as pd
from IPython.display import display, HTML

#Assign configuration variables
RAW_DATA_FILE = 'iris.csv'
SUMMARY_FILE = 'summary.txt'
CLEANED_DATA_FILE = 'iris_cleaned.csv'

#Use formatted strings to print information
print(f"--- Phase 3: Starting Processing for {RAW_DATA_FILE} ---")

--- Phase 3: Starting Processing for iris.csv ---

In [ ]:
# --- Load, Clean, and Write Summary ---

# 1. Load data correctly (using default comma delimiter) and assign columns
df = pd.read_csv(RAW_DATA_FILE, header=None)
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
initial_rows = len(df)

# 2. Core Cleaning Steps:
#Drop duplicates to ensure the analysis is accurate and unique
df.drop_duplicates(inplace=True)
# Coerce measurement columns to numeric and drop rows with resulting NaNs
df.iloc[:, 0:4] = df.iloc[:, 0:4].apply(pd.to_numeric, errors='coerce')
df.dropna(inplace=True)
final_rows = len(df)

# 3. Calculate Sepal Length Stats (for summary.txt)
stats = df['sepal_length'].agg(['min', 'max', 'mean'])

# 4. Write summary.txt (consolidation of Block 2 logic)
with open(SUMMARY_FILE, mode='w') as outfile:
    outfile.write(f"""
--- IRIS Dataset Summary ---
Total Rows Processed: {initial_rows}
Final Cleaned Rows: {final_rows}

Sepal Length (cm) Statistics:
Minimum: {stats['min']:.2f}
Maximum: {stats['max']:.2f}
Average: {stats['mean']:.2f}
""".strip())

print(f" Summary written to {SUMMARY_FILE} with final row count.")

 Summary written to summary.txt with final row count.

In [ ]:
# --- Enhanced Initial Data Report ---
print("\n--- Initial Data Preview ---")
display(
    df.head().style
    .format(formatter={
        'sepal_length': '{:.1f}',
        'sepal_width': '{:.1f}',
        'petal_length': '{:.1f}',
        'petal_width': '{:.1f}'
    })
    .set_table_attributes("style='font-size: 10pt;'")
    .set_caption("First 5 Cleaned Rows")

)

# --- Final Enhanced Cleaning Summary ---
rows_removed_duplicates = initial_rows - final_rows # Simplified calculation

print("\n--- Final Cleaning Summary ---")

cleaning_summary_data = {
    'Metric': ['Initial Rows Loaded', 'Total Rows Removed', 'Final Cleaned Rows'],
    'Value': [initial_rows, rows_removed_duplicates, final_rows]
}
summary_df_vis = pd.DataFrame(cleaning_summary_data)

# Style the final summary table
display(
    summary_df_vis.style
    .set_properties(**{'background-color': '#f0f8ff', 'border-color': 'white'})
    .hide(axis='index')
    .set_caption("Summary of Data Cleaning Steps")
    .set_table_attributes("style='font-size: 12pt;'")
)

# --- Save Cleaned Data ---
df.to_csv(CLEANED_DATA_FILE, index=False)

print(f"\n Final cleaned data saved to {CLEANED_DATA_FILE}.")

--- Initial Data Preview ---

--- Final Cleaning Summary ---

 Final cleaned data saved to iris_cleaned.csv.

**Seaborn** library is used to load and read the raw csv file. Created an empty dictionary store the count of each flower in the species. Used a for loop to iterate through each species.

In [1]:
#Count how many flowers of each species manually with a for loop
import pandas as pd
import seaborn as sns
#Load iris dataset to read all data in the csv file
iris_fl = sns.load_dataset('iris')

#Create an empty dictionary to store the count of each flower based off species.
#The keys will be species and the values will be the counts
flower_count={}

#Use for loop to count each flower.
for flower in iris_fl['species']:
    if flower in flower_count:
        flower_count[flower] +=1
    else:
        flower_count[flower] =1
#Print results
for species, count in flower_count.items():
    print(f"{species}:{count}")

setosa:50
versicolor:50
virginica:50

Used if/elif/esle statements to categorize flowers based off length. We created a new column to show petal_category.

In [2]:
#Categorize flowers
import pandas as pd
import seaborn as sns
#Load iris dataset
iris = sns.load_dataset('iris')

#Use def function to categorize flowers
def categorize_flower(length):
    if length < 2:
        return 'Short Petal'
    elif 2 <= length <= 5:
        return 'Medium Petal'
    else:
        return 'Long Petal'

#Create a new column and print results
iris['petal_category'] = iris['petal_length'].apply(categorize_flower)
print(iris[['petal_length','petal_category']].head())

   petal_length petal_category
0           1.4    Short Petal
1           1.4    Short Petal
2           1.3    Short Petal
3           1.5    Short Petal
4           1.4    Short Petal

To find mean, median, min, max of sepal and petal lengths, we used an aggregate function to combine all the above calculations into one table.

In [4]:
#Calculate mean, median, min, max of sepal and petal lengths
Value_calculations = iris[['sepal_length','petal_length']].agg(['mean','median','min','max'])
print(Value_calculations)

        sepal_length  petal_length
mean        5.843333         3.758
median      5.800000         4.350
min         4.300000         1.000
max         7.900000         6.900

Used groupby function to group the rows based off species and find the average of sepal_length and petal_length.

In [5]:
#Group by species and compute averages
average_values=iris.groupby('species')[['sepal_length','petal_length']].mean()
print("Mean values for each species")
print(average_values)

Mean values for each species
            sepal_length  petal_length
species
setosa             5.006         1.462
versicolor         5.936         4.260
virginica          6.588         5.552

Imported matplotlib.pyplot libraries to plot a histogram with the petal_length column as the x axis and the frequency as the y axis.